.device-choose {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;

  label {
    width: calc((100% - 15px) / 2);
  }
}

.device-choose-list {
  margin: 0 0 30px;

  li {
    @include font(16px, 24px, 400, $text-main);
    display: flex;

    &:not(:last-child) {
      margin-bottom: 27px;
    }

    span {
      display: inline-block;
      padding-left: 28px;
    }

    &::before {
      content: "1";
      @include font(36px, 24px, 500, #2858ff);
      display: inline-block;
      vertical-align: middle;
    }

    &:first-child {
      &::before {
        content: "1";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "2";
      }
    }

    &:nth-child(3) {
      &::before {
        content: "3";
      }
    }
  }
}

.device-choose-item {
  display: flex;
  margin: 0 0 57px;
}

.device-choose-item__img-block {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  width: 200px;
  height: 200px;
}

.device-choose-item__points {
  display: flex;
  align-items: center;
  margin: 0 0 24px;

  span {
    @include font(15px, 23px, 400, $text-minor);
  }

  &::before {
    content: "";
    display: inline-block;
    width: 130px;
    height: 36px;
    background-image: url("../img/d-chip-grey.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 24px;
  }
}

.device-choose-item__title {
  @include font(16px, 19px, 500, $text-main);
  margin: 0 0 8px;
}

.device-choose-item__desc {
  @include font(15px, 23px, 400, $text-minor);
  margin: 0;
}

@include mobile {
  .device-choose {
    flex-direction: column;

    label {
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 8px;
      }
    }
  }

  .device-choose-item {
    flex-direction: column;
    align-items: center;
  }

  .device-choose-item__img-block {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      display: inline-block;
      width: 130px;
      height: 36px;
      position: absolute;
      top: 0;
      left: 50%;
      background-image: url("../img/d-chip-grey.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: translateX(-50%);
      margin: 0 0 16px;
    }
  }

  .device-choose-item__points {
    justify-content: center;

    &::before {
      display: none;
    }
  }
}
