.reports__item {
  width: calc((100% - 48px) / 3);
}

.reports__item .mutual-calcs__earned-date-btn {
  width: 100%;
  min-width: auto;
  border: 2px solid #f4f4f8;
}

.reports__item .mutual-calcs__earned-date-btn:hover {
  border-color: #d1d8e1;
}

.reports__price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.reports__status {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  min-width: 120px;
  padding: 3px 6px;
  margin: 0;
  text-align: center;
  border-radius: 5px;
}

.reports__icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reports__icons-block a {
  display: block;
  width: 24px;
  height: 24px;
}

.reports__icons-block a svg {
  width: 24px;
  height: 24px;
  color: #94a0b1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.reports__icons-block a:hover svg {
  color: #2858ff;
}

.reports__icons-block > div {
  position: relative;
  width: 24px;
  height: 24px;
}

@media (min-width: 1000px) {
  .reports__icons-block > div:hover .reports__icon-tooltip {
    display: block;
  }
}

.reports__icons-block > div.reports__icon-pending {
  background-image: url("../img/time.svg");
}

.reports__icons-block > div.reports__icon-alert {
  background-image: url("../img/alert.svg");
}

.reports__download-block {
  position: relative;
}

.reports__download-btn {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.reports__download-btn.marked::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fc4242;
}

.reports__download-btn svg {
  width: 24px;
  height: 24px;
  color: #94a0b1;
}

.reports__download-btn:hover {
  cursor: pointer;
}

.reports__download-btn:hover svg {
  color: #2858ff;
}

.reports__download-dropdown {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 300px;
  padding: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 10;
}

.reports__download-dropdown.shown {
  display: block;
}

.reports__download-dropdown-item:not(:last-child) {
  margin-bottom: 16px;
}

.reports__download-dropdown-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1a1a1a;
  text-decoration: none;
  text-align: left;
}

.reports__download-dropdown-link svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #94a0b1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.reports__download-dropdown-link span {
  padding-top: 2px;
}

.reports__download-dropdown-link:hover svg {
  color: #2858ff;
}

.reports__download-dropdown-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #94a0b1;
  text-align: left;
  pointer-events: none;
}

.reports__download-dropdown-text span {
  padding-top: 2px;
}

.reports__download-dropdown-icon {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../img/time.svg");
}

.reports__download-dropdown-alert {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../img/alert.svg");
}

.reports__icon-tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 9px);
  right: -4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  color: #94a0b1;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.reports__icon-tooltip::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 22px;
  height: 6px;
  background-image: url("../img/tooltip-corner.png");
}

.reports__link {
  display: inline-block;
  width: 38px;
  height: 24px;
  padding: 0 14px 0 0;
}

.reports__link svg {
  width: 24px;
  height: 24px;
  color: #94a0b1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.reports__link:hover svg {
  color: #2858ff;
}

.reports__item-total-sum {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.reports__success-label {
  margin-bottom: 40px;
}

.reports__success-label-block {
  padding: 20px;
  background-color: rgba(40, 88, 255, 0.1);
  border-radius: 5px;
}

.reports__success-label-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
  margin: 0 0 14px;
}

.reports__success-label-list {
  margin: 0;
  padding: 0 0 0 19px;
}

.reports__success-label-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a1a1a;
}

.reports__success-label-item:not(:last-child) {
  margin-bottom: 10px;
}

p.reports__status.processing {
  background-color: #94a0b1;
  color: #fff;
}

p.reports__status.pending {
  background-color: #fed9ae;
}

p.reports__status.done {
  background-color: #40da90;
  color: #fff;
}

p.reports__status.approval {
  background-color: #feedae;
}

p.reports__status.scan-sending {
  background-color: #dcf5ff;
}

p.reports__status.active {
  background-color: #ddf9ec;
}

@media (max-width: 999px) {
  .reports__icons-block {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .reports__icons-block > div {
    background-repeat: no-repeat;
    width: auto;
  }
  .reports__icons-block > div:not(:last-child) {
    margin-bottom: 15px;
  }
  .reports__icon-tooltip {
    display: block;
    padding: 0;
    padding-left: 30px;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    line-height: 24px;
    width: auto;
  }
  .reports__icon-tooltip::before {
    display: none;
  }
}
