.spend-points__bar {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background-color: #f4f4f8;
  overflow: hidden;
  margin: 0 0 24px;
}

.spend-points__bar-current {
  @include font(16px, 22px, 500, #fff);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(98.08deg, #fdc830 3.48%, #f37335 98.15%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 4px;
  // padding-left: 4px;
  // padding-right: 5px;
  overflow: hidden;

  &::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
  }
}

.spend-points__bar-current-text {
  display: inline-block;
  white-space: nowrap;
  margin-left: 4px;
  margin-right: 5px;
}

.spend-points__bar-limit {
  height: 100%;
  background: linear-gradient(98.08deg, #fdc830 3.48%, #f37335 98.15%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.spend-points__info {
  display: flex;
  margin: 0 0 40px;
}

.spend-points__info-part {
  &:not(:last-child) {
    padding-right: 24px;
    border-right: 1px solid #d1d8d1;
    margin-right: 24px;
  }

  .d-points-chip.main {
    margin: 0 0 4px;
  }
}

.spend-points__info-points {
  @include font(18px, 22px, 500, $text-main);
  margin: 0 0 4px;
}

.spend-points__info-label {
  @include font(14px, 21px, 400, $text-main);
  margin: 0;
}

.spend-points__calculate-title {
  @include font(15px, 23px, 400, $text-main);
  margin: 0 0 24px;
}

.input-block.points {
  input {
    border: 1px solid #f4f4f8;
    background-color: #fff;
    text-align: center;
    height: 50px;
    padding: 0 48px;

    &:hover {
      background-color: rgba(244, 244, 248, 0.5);
    }
  }

  .spend-points__error-message {
    display: none;
    @include font(14px, 21px, 400, #fc4242);
    position: absolute;
    top: calc(100% - 42px);
    left: 0;
  }

  &.error {
    padding-bottom: 50px;

    input {
      border-color: #fc4242;
      color: #fc4242;
    }

    .spend-points__error-message {
      display: block;
    }
  }
}

.spend-points__minus,
.spend-points__plus {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: #f4f4f8;
  border: none;
  position: absolute;
  top: 1px;

  &:hover {
    cursor: pointer;
  }
}

.spend-points__minus {
  left: 1px;
}

.spend-points__plus {
  right: 1px;
}

.spend-points__bottom-block {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  .modal__btn-block {
    width: auto;
  }
}

.spend-points__balance {
  @include font(14px, 21px, 400, $text-main);
  flex-shrink: 0;
  width: max-content;
  padding-top: 28px;
}

@include mobile {
  .spend-points__bar {
    display: none;
  }

  .spend-points__info {
    flex-direction: column;
  }

  .spend-points__info-part {
    &:not(:last-child) {
      padding-right: 0;
      padding-bottom: 16px;
      border-bottom: 1px solid #d1d8d1;
      border-right: none;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  .spend-points__bottom-block {
    .modal__btn-block {
      position: static;
      padding: 0;

      button,
      a {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    position: fixed;
    left: 0;
    bottom: 0;
    padding: 16px;
    width: 100%;
    flex-direction: column-reverse;
  }

  .spend-points__balance {
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
}
